<h1>Тут вы можете оставить свое сообщение</h1>

<p style="color: green;"><%= @message %></p>

<form action="/contacts" method="POST">

  <label>Ваша почта</label><br>
  <input name="email" type="text" value="<%= @email %>"><br>

  <label>Ваше сообщение</label><br>
  <textarea name="user_message"><%= @user_message %></textarea><br>

  <input type="submit">

</form>