<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barbershop</title>
  <!-- Подключение Bootstrap стилей через CDN  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  
</head>
<body>

  <!-- Шапка -->
  <nav class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">   
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img src="https://i.pinimg.com/originals/b9/05/3d/b9053d873e9f69058997913e0fffca2e.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> 
        Barbershop
      </a>

      <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#content" aria-controls="content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="content">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%if @active == 'main'%>
              <a class="nav-link active" aria-current="page" href="/">Главная</a>
            <%else%>
              <a class="nav-link" href="/">Главная</a>
            <%end%>
          </li>
          <li class="nav-item"> 
            <%if @active == 'visit'%>
              <a class="nav-link active" aria-current="page" href="/visit">Записаться</a>
            <%else%>
              <a class="nav-link" href="/visit">Записаться</a>
            <%end%> 
          </li>
          <!--  ========== Отключено(contacts) ==========
          <li class="nav-item">    
            <%if @active == 'contacts'%> 
              <a class="nav-link active" aria-current="page" href="/contacts">Отзывы</a> 
            <%else%>
              <a class="nav-link" href="/contacts">Отзывы</a>
            <%end%>           
          </li>
          -->
          <li class="nav-item">
            <%if @active == 'login'%> 
              <a class="nav-link active" aria-current="page" href="/login">Войти</a>
            <%else%>
              <a class="nav-link" href="/login">Войти</a>
            <%end%>
          </li>
          <li class="nav-item">
            <%if @active == 'showusers'%>
              <a class="nav-link active" aria-current="page" href="/showusers">Показать вывод из БД</a> 
            <%else%>
              <a class="nav-link" href="/showusers">Показать вывод из БД</a>
            <%end%>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Поиск</button>
        </form>
      </div>

    </div>
  </nav>



  <!-- блок сообщения об ошибке -->
  <div class="container">
    <% if @error && @error!='' %> 
      <div style="color: red;"><%= @error %></div>
    <% end %>
  </div>


  <!-- yield -->
  <%= yield %>


  <!-- Подключение Bootstrap js-скриптов через CDN  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>  
</body>
</html>