<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barbershop</title>
</head>
<body>

  <h1 style="color: lightblue;">
    layout.erb используeтся. Этот блок будет на всех страницах<br>
    <a href="/">Главная</a><br>
    <a href="/visit">Записаться</a><br>
    <a href="/login">Войти</a><br>
    <a href="/contacts">Отправить сообщение</a><br>
    <a href="/showusers">Показать вывод из БД</a><br>
    layout.erb используeтся. Этот блок будет на всех страницах
  </h1>

  <!-- блок сообщения об ошибке -->
  <div>
    <% if @error && @error!='' %> 
      <div style="color: red;"><%= @error %></div>
    <% end %>
  </div>

  <%= yield %>
  
</body>
</html>