
<table border="1" width="1100px" style="font-size: 2rem;">
  <caption>Таблица 1:  Все колонки</caption>
  <thead>
    <tr><%= '<th>'+@results[0].keys.join('</th><th>')+'</th>' %></tr>
  </thead>
  <tbody>
    <% @results.each do |row| %>
    	<tr>
        <td><%= row.values[0..-2].join('</td><td>') %></td>
        <td style="background: <%= row['color'] %>;"><%= row['color'] %></td>
      </tr>
    <% end %>
  <tbody>
</table>